extends components/jade/layout


block main
  .wrapper
    .common
      .webpack
        svg.webpack()
          use(xlink:href='#webpack')
      .express
        svg.express()
          use(xlink:href='#express')
    block preloader
  block script