footer.footer
    .container 
        .inner-footer
            .left_wrapper
                span
                    svg.ne_xlogo()
                        use(xlink:href='#_0x72617961')

            .right_wrapper
                span
                    svg.version()
                        use(xlink:href='#v1_0_0')
