footer.footer
    .container 
        .inner-footer
            .left_wrapper
                span
                    a(href="#") About
                    a(href="#") Source Code

            .right_wrapper
                span Designed By 
                    strong Neon
