._preloader
    .preloader
        .preloader_wrapper
            .flex-fill
            .preloader_title #{title}
            .flex-fill
            .preloader_footer.container
                    .preloader_action_text begin 
                    .preloader_text loading_