/* ----- 1.4 PRELOADER ----- */
._preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;

    .preloader {
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .preloader {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .preloader_wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        .preloader_title {
            text-align: center;
        }
        .preloader_footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}